<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>VM Creator</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/css.css}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light navi">
    <a class="navbar-brand navTitre" href="/">VM Creator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="mainBox">

        <h1 class="titre">Welcome to VM Creator </h1>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.role}"></td>
            </tr>
            </tbody>
        </table>
        
        


    </div>
</div>
</body>
</html>