<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>VM Creator</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/css.css}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-lg navi">
    <a class="navbar-brand navTitre" href="/">VM Creator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link navTitre active" href="/">Home <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="mainBox">

        <h1 class="titre">Virtual Machine</h1>
        <div>
            <p>Utilisateur connecté : <span th:text="${username}"></span></p>
        </div>
        <div th:if="${ip}">
            <p>Machine créee !</p>
            <p>Adresse ip de la machine : <span th:text="${ip}"></span></p>
            <p>Pour vous connecter à la machine, utilisez un terminal bash et lancez la commande :
            ssh <span th:text="${user}"></span>@<span th:text="${ip}"></span></p>
        </div>
        <div th:unless="${ip}">
            <p>Erreur durant la création de la machine... =(</p>
        </div>

        <form th:action="@{/logout}" method="post">
            <input class="bouton" type="submit" value="Sign Out"/>
        </form>

    </div>
</div>
</body>
</html>